/* index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 12px;
}

body {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none;
}

.tablist::-webkit-scrollbar {
  display: none;
}